<thead>
	<tr>
		<td class="col-md-5"></td>
		{{#unless view.embedded}}
			<td class="col-md-2"></td>
		{{/unless}}
		<td class="col-md-3"></td>
		<td class="col-md-2"></td>
	</tr>
</thead>
<tbody>
	{{yield}}
</tbody>
