{{view "page-navigations/page-navigation" title="Settlements"}}

<nav class="results-actions-bar"></nav>

<div class="results">
	<div class="items-wrapper">
		{{view "results/credits-table-grouped-by-settlement" loader=resultsLoader}}
	</div>
</div>
